.rocket-list .new-container {
  box-shadow: 3px 3px 4px lightgrey;
  border-radius: 15px;
  margin: 20px;
}

.media-all {
  display: flex;
  align-items: center;
  padding: 20px 10px;
}

img {
  border-radius: 10px;
  width: 300px;
  height: 200px;
  margin-right: 40px;
}

.text-dec {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  font-variant: normal;
}

.btn-ligth {
  border: 1px solid black;
}

@media only screen and (max-width: 600px) {
  .rocket-list .new-container {
    margin: 10px;
    border-radius: 10px;
  }
  img {
    width: 200px;
    height: 150px;
    margin-right: 20px;
  }
  .text-dec {
    font-size: 16px;
  }
  .display-6 {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 5%;
    color: greenyellow;
}
  .btn-light {
    font-size: 14px;
    padding: 8px;
    border-radius: 8px;
    margin: 3px;
  }
}