* {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgb(204, 204, 204);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.logo-image {
  height: 5rem;
  padding-right: 3rem;
}

.nav-heading {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.nav-ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.nav-ul li {
  margin: 0 4rem;
}

.nav-link {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
}

.nav-link:active {
  color: #000;
  text-decoration: underline;
}
